@CHARSET "ISO-8859-1";

body, table, h1, h2, h3, h4 {
	font-family: sans-serif;
}

body {
	margin: 10px 10px 10px 10px;
	padding: 0 0 0 0;
	
	font-size: 10pt;
	
	background-color: #C8CAFF;	
}

div.header {
	padding: 0px 10px 0px 10px;
	margin: 10px 0px 10px 0px;
	border-bottom: 1px solid gray;
}

div.header h1 {
	
	vertical-align: middle;
}

div.header h1 img {
	padding-right: 15px;
	vertical-align: middle;
}

div {
   margin: 20px 10px 30px 10px;
}

div h2 {
	font-size: 12pt;
	line-height: 12pt;
	margin-bottom: 0px;
	padding-bottom: 0;
}

div p, div ul {
	margin-top: 5px;
	margin-bottom: 5px;
}
 {
	margin
}

div.sfbar {
	position: absolute;
	bottom: 0; 
	left: 0; 
	height: 40px; 
	width: 100%;
	
	border-top: 2px solid gray;
	margin: 0 0 0 0;
	background-color: white;
	vertical-align: middle;
	text-align: center;
}